<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OfferVerse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OfferVerse.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between d-flex justify-content-between align-items-center">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-2">
                            <a asp-controller="Home" asp-action="Index" class="fs-4 btn btn-link">OfferVerse</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a asp-controller="MyServices" asp-action="MyServices" class="fs-4 btn btn-link">My services</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a asp-controller="Profile" asp-action="ShowProfile" class="fs-4 btn btn-link">Profile</a>
                        </li>
                    </ul>
                    @if (TempData["timeCredits"] != null)
                    {
                        int timeCredits = Convert.ToInt32(TempData["timeCredits"]);
                        TempData["timeCredits"] = timeCredits; // Reassigns the previous value, because it's destroyed after reading.

                        <ul class="navbar-nav">

                            @if (timeCredits > 0)
                            {
                                <li class="nav-item alert alert-success m-0">
                                    <p class="m-0 text-success fw-bold">+@timeCredits hours</p>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item alert alert-danger m-0">
                                    <p class="m-0 text-danger fw-bold">@timeCredits hours</p>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - OfferVerse - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
