@model User

<h2 class="my-5">@Model.GetFullName(), You can now edit your profile</h2> <!--Add name in TempData["***"] to have it everywhere-->

<form method="post" asp-action="EditProfile">
    <table class="table table-striped table-bordered table-hover">
        <partial name="_Partials/_EditUserDetails.cshtml" model="@Model"/>
    </table>

    <div class="d-flex gap-xl-5 justify-content-start">
        <a asp-action="ShowProfile" class="btn btn-dark my-2 p-2 px-4 w-25">Back</a>
        <input type="hidden" asp-for="MemberId">
        <input type="submit" value="Validate" class="btn btn-success my-2 p-2 px-4 w-25" />
    </div>
</form>


<script src="~/js/EditProfile.js" defer></script>
