@using OfferVerse.ViewModels
@model UserTransactionsViewModel

<h2 class="my-5">@Model.User.GetFullName(), Here are all your time transactions</h2>

<table class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date start service</th>
            <th scope="col">Date end service</th>
            <th scope="col">Demander</th>
            <th scope="col">Provider</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Amount of the transaction</th>
        </tr>
    </thead>
    <tbody>
        @{
            ViewDataDictionary vd = new(ViewData);
            int index = 1;

            foreach (ServiceDemanded s in Model.ServicesDemanded)
            {
                vd["index"] = index++;
                string partialName = Model.User.Equals(s.ServiceProvider)
                    ? "_PositiveCreditsTransactionsDetails.cshtml"
                    : "_NegativeCreditsTransactionsDetails.cshtml";

                <partial name="_Partials/@partialName" model="s" view-data="vd" />
            }
        }

        <tr class="alert-success">
            <th scope="row">@vd["index"]</th>
            <td>A</td>
            <td>welcome</td>
            <td>gift</td>
            <td>from</td>
            <td>our</td>
            <td>part</td>
            <td>+ 10</td>
        </tr>
    </tbody>
</table>

<div class="d-flex gap-xl-5 justify-content-between">
    <a asp-action="ShowProfile" class="btn btn-dark my-2 p-2 px-4 col-3">Back</a>
</div>
