@using OfferVerse.ViewModels;
@model CreateModifySPViewModel;

<form asp-controller="MyServices" asp-action="Modify" method="post">
    <table>
        <tr>
            <td>
                <label asp-for="Sp.Title"></label>
            </td>
            <td>
                <input asp-for="Sp.Title"/>
            </td>
            <td>
                <span asp-validation-for="Sp.Title" class="text-danger px-2"></span>
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="Sp.Description"></label>
            </td>
            <td>
                <input asp-for="Sp.Description"/>
            </td>
            <td>
                <span asp-validation-for="Sp.Description" class="text-danger px-2"></span>
            </td>
        </tr>
        
        <tr>
            <td>
                <select asp-for="Sp.Category.CategoryId">
                    @foreach(var cat in Model.Categories)
                    {
                        <option value="@cat.CategoryId">@cat.Name</option>
                    }
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <input type="hidden" name="sId" value="@Model.Sp.ServiceProvidedId" />
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Modifier" />
            </td>
        </tr>
    </table>
</form>