@model List<ServiceProvided>

@if (!String.IsNullOrEmpty((string)TempData["Deletion"]))
{
    <div class="alert alert-success">@TempData["Deletion"]</div>
}

@if (!String.IsNullOrEmpty((string)TempData["success"]))
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<h1>List of provided services</h1>
<table class="table table-bordered table-hover">
    <tr>
        <th>Titre</th>

        <th>Description</th>

        <th>Priority</th>

        <th>Date of Priority</th>
        <th>Actions</th>
    </tr>
        @foreach (ServiceProvided sp in Model)
        {
            <partial name="_ViewService" for="@sp" />
        }
</table>

<a asp-action="Create">Create a service</a>