@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <span>OfferVerse</span></h1>
    <a asp-controller="Profile" asp-action="Profile">Profil</a>
</div>
