<h2>Create Account</h2>
<form action="todefine" method="post">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" required>

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" required>

    <label for="phoneNumber">Phone Number</label>
    <input type="tel" id="phoneNumber" name="phoneNumber" required>

    <label for="streetName">Street Name</label>
    <input type="text" id="streetName" name="streetName" required>

    <label for="streetNumber">Street Number</label>
    <input type="text" id="streetNumber" name="streetNumber" required>

    <label for="postalCode">Postal Code</label>
    <input type="text" id="postalCode" name="postalCode" required>

    <label for="city">City</label>
    <input type="text" id="city" name="city" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Create Account</button>
</form>